<% provide(:title, @customer.name) %>

<div class="issue_show text-center">
<span><%= (@customer.name).capitalize %></span>  
</div>
  <% if @customer.issues.any? %>
    <div class="text-center sr_title">
      <span>Requested Services(<%= @customer.issues.count %>)</span>
    </div>
    
<div class="container text-center">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Issues</th>
        <th>Address</th>
        <th>Request time</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
        <%= render @issues %>
    </tbody>
  </table>
</div>
    <%= will_paginate @issues %>
    <% else %>
    <div class="text-center">
    <span>No service requested till now</span>
    </div>
<% end %>

