<div class="jumbotron">
     <div class="hwt_header">
     	<span id="hwt_header">how it works??</span>
     </div>
     <div class="hwt">
        <div class="l_hwt">
        <span>You</span>
     	<div id="left">
     		<span>select the required service you and tell us about the issue.</span>
     	</div>	
        </div>
     	
     	<div class="m_hwt">
     		<span>Our team</span>
     		<div id="middle">
     			<span>Our service representatives will contact you, fix the issue.</span>
     		</div>	
     	</div>
     	<div class="r_hwt">
     		<span>You and We</span>
     		<div id="right">
     			<span> We : wait for your next request</span><br>
     			<span> You : happy </span>
     		</div>	
     	</div>
	  </div>
	  <div class="para">
     	<span>HouseBuddy is here to you provide you the best house solutions</span>
	    </div>  
	  </div>