<% provide(:title, "Home") %>

<div id="jumbo">
 <img src="background.jpg" class="bg-image">
 <h1 id="about_us">About us</h1>
 <p id="para"><i>We are dedicated towards providing quality service which will help you get your issues/problems resolved.</i></p>

 <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary", id: "sign_up" %>
</div> 


	



