<% provide(:title, "Services") %>

<span id="services">Services</span>

<div class="container services_pic">           
  <div class="row">
    <div class="col-md-4">
      <a href="" class="thumbnail">
        <p>Plumber</p>    
        <img src="plumber.jpg" alt="Plumber" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="" class="thumbnail">
        <p>Electrician</p>
        <img src="electrician.png" alt="electrician" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="" class="thumbnail">
        <p>Labour</p>      
        <img src="labour.jpg" alt="Cinque Terre" style="width:150px;height:150px">
      </a>
    </div>
  </div>
</div>

<div class="container services_pic">           
  <div class="row">
    <div class="col-md-4">
      <a href="" class="thumbnail">
        <p>Mechanic</p>    
        <img src="mechanic.jpg" alt="mechanic" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
      <a href="" class="thumbnail">
        <p>Coming Soon</p>
        <img src="coming.png" alt="comming_soon" style="width:150px;height:150px">
      </a>
    </div>
    <div class="col-md-4">
    </div>
  </div>
</div>